/* Using Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Body and Element styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Nav bar */

.nav__logo {
	width: 10%;
	
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	transition: all 100ms;
	color: #0a66c2;
	font-weight: 600;
}

c {
	text-decoration: none;
	transition: all 100ms;
	color: #01050a;
	font-weight: 600;
}

c:hover{
	text-decoration: underline;
	color: green;
}

a:hover {
	text-decoration: underline;
}

button {
	font-weight: 500;
	width: 110%;
}

.container {
	width: 70%;
	margin: 0 auto;
}

/* Main - Signup Form */

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1em;
}

main h1 {
	font-weight: 400;
	text-align: left;
	font-family: sans-serif;
}

.main__container {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	background-color: #ffffff;
	padding: 4em;
	border-radius: 8px;
	border: solid 1px #818181;
}

.main__form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	text-align: left;
}

.main__form label {
	width: 100%;
}

.main__form label p {
	color: #818181; 
	padding: 0 1em;

}

.main__form input {
	width: 110%;
	padding: 0.5em 0.75em;
	border-radius: 4px;
	margin-top: 4px;
}

#signup__button {
	background-color: #08ca3b;
	color: #ffffff;
	padding: 1em;
	border-radius: 40px;
	transition: all 100ms;
	border: none;
}

#signup__button:hover {
	background-color: #095705;
	cursor: pointer;
}
/* Form entries table */

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: solid 1px #818181;
	text-align: center;
	padding: 0.25em;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
}

.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.separator:not(:empty)::before {
	margin-right: 0.5em;
}

.separator:not(:empty)::after {
	margin-left: 0.5em;
}
/* Footer */

footer {
	background-color: #ffffff;
	width: 100%;
	padding: 0.5em 0;
}

footer > ul.container {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
	color: rgba(0, 0, 0, 0.6);
	flex-wrap: wrap;
	list-style: none;
}

.footer__item {
	padding-bottom: 0.5em;
	color: black;
}

.footer__link {
	color: blue;
	font-size: 0.9rem;
}

.footer__link:hover {
	color: #0a66c2;
	cursor: pointer;
}

@media (max-width: 780px) {
	body {
		background-color: #ffffff;
		height: 100%;
	}

	.container {
		width: 100%;
		padding: 0 1em;
	}
}
